<h1>Sessions#new</h1>
<%= form_tag login_path do |f| %>
  <%= label_tag :username %>
  <%= text_field_tag :username %>
  <%= submit_tag "Enter" %>
<% end %>
<p>Find me in app/views/sessions/new.html.erb</p>
