<script>
  $(document).ready(function() {
    
    var contato_private;
    // Create a new client to connect to Faye
    var client = new Faye.Client('http://localhost:9292/faye');

    setInterval(function() {
      client.publish('/messages/public/online', {
          comando: 'ping',
          username: '<%= session[:username] %>' });
    },5000);

    // Esconde a div do chat
    $(".private_chat").hide();


    //Subscrible para alerta, não consigo fazer essa função funcionar. Simplesmente não aparece nada, a função não é chamada.
    //A mensagem para "/alerta/nome_do_contato" é enviada mas não consegue ser recebida;
    //        client.publish('/alerta/' + contato_private, {
    var sala_alerta = client.subscribe('/messages/alerta/<%= session[:username] %>/',function(data){
        console.log("Passou na sala alerta");
        if(data.comando == 'private')
        {
          
          $(".private_chat").slideDown();
          contato_private = data.username

          client.subscribe('/messages/private/' + contato_private +'/<%= session[:username] %>', function(data) {
           $('<p id="private"></p>').html(data.username + ": " + data.msg).appendTo('.private_chat');
          });

          client.subscribe('/messages/private/<%= session[:username] %>/' + contato_private, function(data) {
           $('<p id="private"></p>').html(data.username + ": " + data.msg).appendTo('.private_chat');
          });

        }
    });

    // Recebe as menasgens de lista de contatos, faz o ping e o pong.
    var listacontatos = client.subscribe('/messages/public/online', function(data) {

      if(data.comando == "ping")
      {
        console.log("Recebeu ping");
        $('#usuarios_lista').empty();
        client.publish('/messages/public/online', 
        {
          comando: 'pong',
          username: '<%= session[:username] %>'
        });
      }
      if(data.comando == "pong"  && data.username != "<%= session[:username] %>")
      {
        console.log("Recebeu pong de:" + data.username);
        $('#usuarios_lista').append("<p class=\"contatos\">" + data.username + "</p>");

         $(".contatos").click(function()
         {
              //Slide down na div do private chat
             $(".private_chat").slideDown();

             //Contato private = nome do contato que foi clicado
             contato_private = $(this).html();

            //Subscrible na sala de A para B, de B para A
            //A para B
             client.subscribe('/messages/private/' + contato_private +'/<%= session[:username] %>', function(data) 
             {
               $('<p id="private"></p>').html(data.username + ": " + data.msg).appendTo('.private_chat');
             });
             //B para A
             client.subscribe('/messages/private/<%= session[:username] %>/' + contato_private, function(data)
             {
             $('<p id="private"></p>').html(data.username + ": " + data.msg).appendTo('.private_chat');
             }); 

             //Essa parte deve dar o scroll para o fim da conversa
            // **************** NÂO FUNCIONA
             $(".private_chat").animate({ scrollTop: $(document).height() }, "slow");
              return false;
            });
      }
    });



    $('#new_message_form').submit(function()
    {
      // Publish the message to the public channel
      client.publish('/messages/public', 
      {
        username: '<%= session[:username] %>',
        msg: $('#message').val()
      });
 
      // Clear the message box
      $('#message').val('');
 
      // Don't actually submit the form, otherwise the page will refresh.
      return false;
    });

      //Quando o formulário da div da private for clicado.
      $('#private_message_form').submit(function()
      {

        //AQUI SE ENVIA PARA ALERTA A MENSAGEM QUE UM USUÁRIO ESTÁ LHE ENVIANDO MENSAGENS.
       
        console.log("Enviando alerta para:" + contato_private);
        client.publish('/messages/alerta/' + contato_private, {
        username: '<%= session[:username] %>',
        comando: 'private'
      });



      // Publish the message to the public channel
      client.publish('/messages/private/<%= session[:username] %>/' + contato_private, {
        username: '<%= session[:username] %>',
        msg: $('#mensagem').val(),
        comando: 'private'
      });


 
      // Clear the message box
      $('#mensagem').val('');

      // Don't actually submit the form, otherwise the page will refresh.
      return false;
    });
  });
</script>


<style type="text/css">
#chat_room
{
  position: fixed;
}
#new_message_form
{
  position: fixed;
  top: 90%;
}

#private
{
    font-weight: bold;
}

#listaOnline
{
  position: fixed;
  height: 300px;
  width: 200px;
  background-color: cyan;
  left: 300px;
  z-index: 0;
}

.contatos
{
  cursor: pointer;
  z-index: 10;
}

#usuarios_ativos
{
  position: relative;
  left: 10px;
  font-weight: bold;
}

.private_chat
{
  overflow-y: scroll;
  position: fixed;
  height: 300px;
  width: 200px;
  left: 550px;
  background-color: green;
}

#private_message_form
{
    position: fixed;
  top: 310px;
}

</style>

<div id="janela">
  <div class="chat_container">
   
     <div id="listaOnline">
        <p id="usuarios_ativos">Usuários ativos</p>
        <div id="usuarios_lista"></div>

    </div>
    <form id="new_message_form">
      <input type="text" id="message" name="message">
      <input type="submit" value="Send">
    </form>
    <div id="chat_room">
      <p class="alert"> Welcome to the chat room <%= session[:username] %>! </p>
    </div>
  </div>
  <div class="private_chat">
        <form id="private_message_form">
      <input type="text" id="mensagem" name="mensagem">
      <input type="submit" value="Send">
    </form>
  </div>
</div>