<!DOCTYPE html>
<html>
<head>
  <title>FayeTutorial</title>
  <%= javascript_include_tag "http://localhost:9292/faye.js" %>
  <%= stylesheet_link_tag    "application", :media => "all" %> 
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
